#colSidebar {
  padding: 12px;
  background: #333333;
  height: 100vh;
  position: fixed;
  overflow: auto;
  color: #fff;
}

#tHead {
  position: sticky;
  top: 0;
  background-color: #000;
  color: #fff;
  z-index: 10000;
}
